---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jopii - Portfolio</title>
	</head>
	<body>
		<h1 class="text-4xl font-bold text-center mt-10">Jopii Portfolio</h1>
		<p class="text-center text-gray-600 mt-4">Coming soon...</p>
	</body>
</html>
